<br>
<br>
<br>
<br>
<br>

<h1>Meus Cupons</h1>

<%= link_to "Adquirir novo Cupom", coupons_path %>

<div>

  <% @baskets.each do |basket| %>
    <div>
      <p>Leafs debitados: <%= basket.debit %> em <%= basket.created_at.strftime('%d/%m/%Y')
    %> - Código: <%= basket.coupon.code %></p> 
    </div>
  <%end%>
</div>


<div class="container-fluid">
  <div class="card-company mt-2">
    <h3 class="mt-3">Cupons Utilizados</h3>
    <div class="d-flex justify-content-center">
      <table class="content-table">
        <thead>
            <tr>
            </tr>
        </thead>
        <% @coupons.each do |coupon| %>
        <tbody>
          <tr>
            <td><%=image_tag "#{ @companies.find(coupon.company_id).logo}", size: "100x100", class: "rounded-circle mr-1" %></td>
            <td><span class="mb-5 mr-1"><%= coupon.discount %></span></td>
            <td><span class="cupom"><strong><i class="fas fa-ticket-alt"></i><%= coupon.code %></strong></span></td>
          </tr>
        </tbody>
        <%end%>
      </table>
    </div>
