<h1>Cupons de Desconto</h1>

<% @coupons.each do |coupon| %>
 <div>
    <%= link_to company_path(coupon.company_id) do %>
      <%=image_tag "#{ @companies.find(coupon.company_id).logo}", size: "50x50"%>
      <%=  @companies.find(coupon.company_id).name %>
      <%= coupon.discount %>
      <%= coupon.code %> <br>
    <% end %>
  </div>
<%end%>


