<!--BANNER DA PÁGINA DO USUÁRIO-->
<div class="banner-index" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.nestle.com/sites/default/files/styles/da_vinci_header_hero_desktop/public/2021-03/csv20-ff6w3z-safeguarding-the-environment.jpg?h=b8626526&itok=yQPv3mQl);">
  <div class="container text-center mt-5">
    <h3 style="font-size: 35px; font-family: 'Roboto Slab', serif; text-decoration: none; color:white;">Você contribuiu reciclando <%= @total_user %> KG de lixo com a Leafs!</h3>
  </div>
</div>
 
<!--Restante do Profile-->
<div class='container p-3'>
  <!--Saldo-->
  <div class="d-flex justify-content-start mt-4">
    <div class="col-12 col-md-12 col-lg-12 shadow bg-white p-3 mb-2 rounded mr-3" style="background-image: linear-gradient(to right, #F24B4Bee, #F2762Eee, #F24B4Bee);">
      <div class='row align-items-center justify-content-between'>
        <div class="profile-image col-auto">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, height: 120, width: 120, crop: :thumb, class:"rounded-circle" %>
          <% else %>
            <%= image_tag "https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg", class: "rounded-circle", size: '100x100' %>
          <% end %>
        </div>
        <!--Foto Profile-->
        <div class="profile-column col p-0">
          <h2 class='mb-0'><%= current_user.first_name %> <%= current_user.last_name %></h2>
          <div class='d-flex justify-content-start align-items-between'>
            <%= link_to "Gerenciar Conta", edit_user_registration_path(current_user), class:"user-p"  %>
            <%= link_to "Sair", destroy_user_session_path, method: :delete, class:"user-q" %>
          </div>
        </div>
        <!--Valor do Saldo-->
        <div class="profile-column col-auto">
          <h2 class='text-right mb-0'> Saldo <i class="fab fa-envira"></i> <%= current_user.leafs_balance %></h2>
          <p class='mb-0 pt-2'> Pendente de Aprovação <i class="fab fa-envira"></i> <%= @leaf_pendent_total %></p>
        </div>
        <div class='col-auto mt-lg-0 mt-md-o mt-3'>
          <%= link_to "Solicitação LEAFS", new_leaf_path, class: "button-green sol-leafs" %>
        </div>
      </div>
    </div>
  </div>
 
    <!--Extrato-->
 
  <div class='row p-3'>
    <div class="extrato-profile col-12 col-md-6 col-lg-7 shadow bg-white pt-lg-4 pt-md-4 pt-3 mb-2 rounded ">
      <h4> Extrato da Conta</h4>
 
      <table class="table table-hover">
        <thead class="profile-head-table">
          <tr class='align-items-center'>
            <th scope="col" class="col-2">Data</th>
            <th scope="col" class="col-8">Operação</th>
            <th scope="col" class="col">Leafs</th>
          </tr>
        </thead>
        <tbody class="profile-body-table">
          <% @balance.each do |item| %>
            <% if item.instance_of?(Leaf) %>
              <tr>
                <td class='success'> <%= item.created_at.strftime('%d/%m/%Y')%> </td>
                <td class='success'> <%= item.dropoff.name if item.dropoff%> </td>
                <td class='success'> + <i class="fab fa-envira"></i> <%= item.credit %> </td>
              </tr>
            <% else %>
              <tr>
                <td class='danger'> <%= item.created_at.strftime('%d/%m/%Y')%> </td>
                <td class='danger'> <%= item.coupon.company.name %> - <%= item.coupon.discount %> </td>
                <td class='danger'> - <i class="fab fa-envira"></i> <%= item.debit %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
 
    <!--Informação LEAFS pendentes-->
    <div class="user-informations col-12 col-md-6 col-lg-5 shadow bg-white p-4 mb-2 rounded ">
      <div class="list-links">
        <h4> </h4>
        
        <!--COLLAPSE UM-->
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header dropdown" id="headingOne">
              <h2 class="mb-0" style="font-size: 16px; font-family: 'Noto Sans JP', sans-serif; text-decoration: none;">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
                  <i class="fas fa-angle-right"></i> Meus Leafs Pendentes
                </button>
              </h2>
            </div>
 
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <% @leafs_pendent.each do |leaf| %>
                  <div>
                    <%= link_to leaf_path(leaf.id), class:"leaf-p" do %>
                      <p >Solicitação LEAFS: Data - <%= leaf.created_at.strftime('%d/%m/%Y')%> no valor <%= leaf.credit %> LEAFS </p>
                    <% end %>
                  </div>
                <%end%>
              </div>
           </div>
          </div>
 
          <!--COLLAPSE  TWO-->
 
          <div class="card">
            <div class="card-header" style="background-color: linear-gradient(to right, #F24B4B, #F2762E, #F24B4B)" id="headingTwo">
              <h2 class="mb-0" style="font-size: 16px; font-family: 'Noto Sans JP', sans-serif; text-decoration: none">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  <i class="fas fa-angle-right"></i> Cupons Adquiridos
                </button>
              </h2>
            </div>
 
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <% @baskets.each do |basket| %>
                  <div>
                    <%= link_to baskets_path, class:"leaf-p" do %>
                      <p> Cupom <%= basket.coupon.company.name %> - Data: <%= basket.created_at.strftime('%d/%m/%Y') %> no valor de <%= basket.debit %> LEAFS</p>
                    <% end %>
                  </div>
                <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>     
    </div>
 
  </div>
 
</div>