<div class="container">
  <div class="card-company">

    <h2 class="mt-5 mb-4">My Leaf</h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Valor creditado</th>
          <th scope="col">Status</th>
          <th scope="col">Estação de Reciclagem</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><i class="fab fa-envira green mr-1"></i><%= @leaf.credit %></td>
          <td><%= @leaf.accepted ? "Aprovado" : "Pendente"  %></td>
          <td><%= @leaf.dropoff ? @leaf.dropoff.name : "Pendente" %></td>
        </tr>
      </tbody>
    </table>

    <h4 class="mt-5 mb-3 text-center">A Natureza agradece! Material para reciclagem:</h4>

    <ul class="list-group">
      <% @leaf.items.each do |item| %>
      <li class="list-group-item"> <%= "#{item.amount}kg - #{item.item_type}" %> </li>

      <% end %>
    </ul>

    <h4 class="mt-5 mb-3">Atualizar local da entrega do material:</h4> 

    <%= simple_form_for (@leaf) do |f| %>
      <%= f.input :dropoff_id, label: 'Estação de Reciclagem', as: :integer %>
      <%= f.button :submit, "Creditar leafs", class: 'button-green mb-3' %>
    <% end %>


    <%= link_to "Meus Leafs", leafs_path, class: 'button-transparent mt-4' %>
  </div>
</div>
