<% if user_signed_in? %>
  <div class="banner-index" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.nestle.com/sites/default/files/styles/da_vinci_header_hero_desktop/public/2021-03/csv20-ff6w3z-safeguarding-the-environment.jpg?h=b8626526&itok=yQPv3mQl);">
    <div class="container text-center mt-5">
      <h2 style="font-size: 35px; font-family: 'Roboto Slab', serif; text-decoration: none; color:white;"> 
      Bem-Vindo!
      </h2>
      <p style="font-weight: bold"> Preservar o meio ambiente é agir no presente para proteger o futuro. Já reciclou o seu lixo hoje?</p>
    </div>
  </div>
<% else %>
  <div class="banner-index" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.nestle.com/sites/default/files/styles/da_vinci_header_hero_desktop/public/2021-03/csv20-ff6w3z-safeguarding-the-environment.jpg?h=b8626526&itok=yQPv3mQl);">
    <div class="container text-center mt-5">
      <h2 style="font-size: 40px; font-family: 'Roboto Slab', serif; text-decoration: none; color:white; line-heigth: 1.6;"> Faça parte dessa mudança!
      </h2>
        <p style="font-weight: bold"> A preservação do meio ambiente começa com pequenas atitudes diárias! </p>
      <br>
      <%= link_to 'Cadastre-se', new_user_registration_path, class: 'button-orange' %>
    </div>
  </div>
<% end %>


<div class="container">
  <div class="card-company mt-5">
    <%= link_to @company.url, target: "_blank" do %>
      <%= image_tag "#{@company.logo}", size: "213x128", style: "border: 1px solid #cacaca;", class: "my-3" %>
    <% end %>
    <div class="d-flex justify-content-center mb-3">
      <table class="content-table">
        <thead>
            <tr>
            </tr>
        </thead>
        <% @coupons.each do |coupon| %>
        <tbody>
          <tr>
            <td  style="font-size: 18px; font-family: 'Noto Sans JP', sans-serif; text-decoration: none"><i class="fas fa-ticket-alt"></i><span class="ml-4 mb-5"><%= coupon.discount %></span></td>
            <td ><%= link_to "Adquirir", coupon_baskets_path(coupon.id), method: :create, data:{confirm: "Tem certeza? Valor: #{coupon.leafs_value} leafs"}, class: 'button-transparent ml-2 h6', target: "_blank" %></td>
          </tr>
        </tbody>
        <%end%>
      </table>
    </div>
    <%= link_to "#{@company.name}", @company.url, class: 'button-green', target: "_blank" %>
  </div>
</div>

