<div class="container">
  <div class="card-company">
    <%= link_to @company.url, target: "_blank" do %>
      <%= image_tag "#{@company.logo}", size: "300x300" %>
    <% end %>
    <div class="d-flex justify-content-center mb-3">
      <table class="content-table">
        <thead>
            <tr>
            </tr>
        </thead>
        <% @coupons.each do |coupon| %>
        <tbody>
          <tr>
            <td><i class="fas fa-ticket-alt"></i><span class="ml-4 mb-5"><%= coupon.discount %></span></td>
            <td><%= link_to "Adquirir", coupon_baskets_path(coupon.id), method: :create, data:{confirm: "Tem certeza? Valor: #{coupon.leafs_value} leafs"}, class: 'button-transparent ml-2 h6', target: "_blank" %></td>
          </tr>
        </tbody>
        <%end%>
      </table>
    </div>
    <%= link_to "#{@company.name}", @company.url, class: 'button-green', target: "_blank" %>
  </div>
</div>

